<template>
  <div>
    <img
      v-if="getIconPath(name, isdaytime)"
      :src="getIconPath(name, isdaytime)"
      alt=""
    />
  </div>
</template>

<script>
export default {
  name: 'ConditionIcon',
  props: ['name', 'isdaytime'],
  methods: {
    getIconName(currentCondition) {
      const mapConditionToIcon = {
        MostlyCloudy: 'bkn',
        Fair: 'skc',
        FewClouds: 'few',
        PartlyCloudy: 'sct',
        Overcast: 'ovc',
        Fog: 'fog',
        Smoke: 'smoke',
        FreezingRain: 'fzra',
        IcePellet: 'sleet',
        FreezingRainSnow: 'snow_fzra',
        RainIcePellet: 'rain_sleet',
        RainSnow: 'rain_snow',
        RainShower: 'rain_showers',
        Thunderstorm: 'tsra',
        Snow: 'snow',
        Windy: 'wind_skc',
        ShowersInVicinity: 'rain_showers_hi',
        FreezingRainRain: 'rain_fzra',
        ThunderstormsInVicinity: 'tsra_hi',
        LightRain: 'rain',
        Rain: 'rain',
        FunnelCloud: 'tornado',
        Dust: 'dust',
        Haze: 'haze',
        Tornado: 'tornado',
        TropicalStorm: 'tropical_storm',
        Hurricane: 'hurricane',
        Hot: 'hot',
        Cold: 'cold',
        Blizzard: 'blizzard',
        Unknown: '',
      }
      return mapConditionToIcon[currentCondition] || mapConditionToIcon.Unknown
    },
    getIconPath(currentCondition, isDaytime) {
      const iconName = `${this.getIconName(currentCondition)}`
      if (!iconName) {
        return ''
      }
      const iconImgPath = `/img/icons/${iconName}`
      if (isDaytime) {
        return iconImgPath + '.png'
      }
      return iconImgPath + '_night.png'
    },
  },
}
</script>
