<template>
  <div>
    <h3>Current conditions:</h3>
    <ConditionIcon
      :name="conditions.conditionIcon"
      :isdaytime="conditions.isDaytime"
    />
    <p>{{ conditions.shortForecast }}</p>
    <p>
      <TempInfo
        :temp="conditions.temperature"
        :unit="conditions.temperatureUnit"
      />
    </p>
    <p>
      <ProbPrecipInfo :probability="conditions.probabilityOfPrecipitation" />
    </p>
    <p>
      <WindInfo
        :speed="conditions.windSpeed"
        :direction="conditions.windDirection"
      />
    </p>
  </div>
</template>

<script>
import ConditionIcon from './ConditionIcon.vue'
import WindInfo from './WindInfo.vue'
import TempInfo from './TempInfo.vue'
import ProbPrecipInfo from './ProbPrecipInfo.vue'

export default {
  name: 'CurrentConditions',
  components: { ConditionIcon, WindInfo, TempInfo, ProbPrecipInfo },
  props: ['conditions'],
}
</script>
