<template>
  <div>
    <h4>{{ dayforecast.name }}</h4>
    <ConditionIcon :name="dayforecast.conditionIcon" :isdaytime="true" />
    <p>
      High:
      <TempInfo
        :temp="dayforecast.maxTemperature"
        :unit="dayforecast.temperatureUnit"
      />
    </p>
    <p>
      Low:
      <TempInfo
        :temp="dayforecast.minTemperature"
        :unit="dayforecast.temperatureUnit"
      />
    </p>
    <p>
      <ProbPrecipInfo :probability="dayforecast.probabilityOfPrecipitation" />
    </p>
    <p>
      <WindInfo
        :speed="dayforecast.windSpeed"
        :direction="dayforecast.windDirection"
      />
    </p>
  </div>
</template>

<script>
import ConditionIcon from './ConditionIcon.vue'
import WindInfo from './WindInfo.vue'
import TempInfo from './TempInfo.vue'
import ProbPrecipInfo from './ProbPrecipInfo.vue'

export default {
  name: 'ForecastConditions',
  components: { ConditionIcon, WindInfo, TempInfo, ProbPrecipInfo },
  props: ['dayforecast'],
}
</script>
