<template>
  <div>
    <h2 v-if="isdefault">Location: UA Campus</h2>
    <h2 v-else>Location: {{ city }} {{ state }}</h2>
  </div>
</template>

<script>
export default {
  name: 'LocationInfo',
  props: ['isdefault', 'city', 'state'],
}
</script>
