<template>
  <div>
    <h3>7-Day Forecast:</h3>
    <div v-for="dayForecast in dayforecasts" :key="dayForecast.name">
      <ForecastConditions :dayforecast="dayForecast" />
    </div>
  </div>
</template>

<script>
import ForecastConditions from './ForecastConditions.vue'
export default {
  name: 'SevenDayForecast',
  props: ['dayforecasts'],
  components: { ForecastConditions },
}
</script>
