<template>
  <div>
    <h1>JWeather - Daily Weather Forecast</h1>
    <p v-if="!dataReady">Fetching weather forecast data...</p>
    <div v-if="dataReady">
      <LocationInfo
        :isdefault="useDefault"
        :city="dailyForecast.city"
        :state="dailyForecast.state"
      />
      <CurrentConditions :conditions="dailyForecast.currentConditions" />
      <SevenDayForecast :dayforecasts="dailyForecast.dayForecasts" />
    </div>
  </div>
</template>

<script>
import LocationInfo from '~/components/LocationInfo.vue'
import CurrentConditions from '~/components/CurrentConditions.vue'
import SevenDayForecast from '~/components/SevenDayForecast.vue'

export default {
  name: 'IndexPage',
  components: { LocationInfo, CurrentConditions, SevenDayForecast },

  data() {
    return {
      defaultLatitude: '33.21',
      defaultLongitude: '-87.54',
      defaultDailyForecast: [],
      dailyForecast: [],
      useDefault: true,
      dataReady: false,
    }
  },

  // Use server-side fetch() to pre-load default daily forecast data (UA Campus in Tuscaloosa, AL, Latitude 33.21, Longitude -87.54)
  async fetch() {
    const dailyForecastURL = `https://weather.caps.ua.edu/v2.0/Forecasts/Daily?latitude=${this.defaultLatitude}&longitude=${this.defaultLongitude}`
    try {
      this.defaultDailyForecast = await this.$axios.$get(dailyForecastURL)
    } catch (error) {
      console.log(error.message)
    }
  },

  mounted() {
    this.getDailyForecast()
  },

  methods: {
    getDailyForecast() {
      navigator.geolocation.getCurrentPosition(
        (position) => {
          console.log(
            'User granted Geolocation, fetching local daily forecast data.'
          )
          this.getDailyForecastFromAPI(
            position.coords.latitude,
            position.coords.longitude
          )
          this.useDefault = false
        },
        (error) => {
          console.log(`${error.message}, using default daily forecast data.`)
          this.dailyForecast = this.defaultDailyForecast
          this.useDefault = true
          this.dataReady = true
        }
      )
    },
    async getDailyForecastFromAPI(latitude, longitude) {
      const dailyForecastURL = `https://weather.caps.ua.edu/v2.0/Forecasts/Daily?latitude=${latitude}&longitude=${longitude}`
      try {
        this.dailyForecast = await this.$axios.$get(dailyForecastURL)
        this.dataReady = true
      } catch (error) {
        console.log(error.message)
      }
    },
  },
}
</script>
